
 body {
    background-color: lightyellow;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-direction: row;
    border-top: .5px solid black; 
    border-right: .5px solid black; 
    border-bottom: .5px solid black; 
    border-left: .5px solid black;
    text-overflow:visible;
    text-emphasis: wrap; 
  
  }
  
  .inline{
    display: inline;
    display:flex;
    flex-direction: row;
    padding-right: 80px;
    margin-left: 0px; 
    text-align: justify;
    
  }

  
  .icon{
    display: inline-block;
    color: orange;
   
  }

  .icon-margin{
    margin-right: 20px;
  }
  
  ul {
    list-style: none;
  }
  
  ul li::before {
    content: "\2B57";
    color: orange;
    font-weight: bold;
    display: inline-block; 
    width: 0em;
    margin-left: -2em;
    padding-right: 20px;
  }
  .other-li::before{
    content: "\2B24";
    color: orange;
    /* font-weight: bold; */
    display: inline-block; 
    width: 0em;
    margin-left: -2em;
    padding-right: 20px;
    
    
    
  }

  
  hr{
    background-color:orange;
    height: 2px;
    border: 0px;
  }

 
         /*This is the LEFT side of the page*/
   
  .aside {
    background-color:yellow;
    color: black;
    width: 30%;
    height: auto;
    font-size: medium;
    text-align: center;    
  } 

  .aside-heading{
    background-color: black;
    color: orange;
    text-align: center;
    width:100%;
    height: 40px;
    font-size: 30px; 
    padding-top: 8px;
    padding-bottom: 0px;   
  }
  
  img {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    border: 1px solid orange; 
    box-shadow: 1px 1px 1px 1px darkorange;
    text-align: center;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 0px;
  } 

  .contact {
    
    border: 0px solid lightgrey; 
    width: 100%;
    height: auto;
    text-align: left;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px; 
  }
  .text-contact{ 
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 45px;
    
  }
  
  .about {
    border: 0px solid lightgrey; 
    width: 100%;
    height: 40%;
    text-align: justify;
  }
  .text-about{
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 0pc;
    margin-top: 0px;
    
  }
    
  .hobbies {
    
    border: 0px solid lightgrey;
    margin: auto;
    width: 100%;
    text-align: center;
  }

  
          /*This is the RIGHT side of the page*/

  .main {
    border-right: 0px solid black;
    margin: auto;
    width: 70%;
    height: 100%;
    padding: 60px;
  }

  .name{
    font-size: xx-large;
    color: orange;
    text-align: left;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    text-shadow: 1px 1px rgb(232, 233, 224);
  }
 
  .education{
    margin: 10px;
    padding-top: 20px;   
    width: 100%;
    height: 100%
  
  }
   
  .experience{
    margin: 10px; 
    padding: 20px;
    width: 100%;
    height: 100%;
    padding-top: 20px;
  }

  .reference1{
    padding: 0px; 
    display: flex;
    flex-direction: row;
  }
  .reference-item{
    width: 50%;
  }


          /* <!--This is the MEDIA QUERY--> */ 

  @media screen and (max-width: 550px) {
    body {
      flex-direction: column;
    } 
    .aside{
      width: 100%;
    
    }
    .main{
      width: 100%;
    }
  
  }